<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" id="header2">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
         </div> <!--end navbar-header -->
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
               <li><%= link_to "Home", static_pages_index_path %></li>
               <li><%= link_to "Landing Page", static_pages_landing_page_path %></li>
               <li><%= link_to "About", static_pages_about_path %></li>
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Contact", static_pages_contact_path %></li>
              <li class="login">
                <% if user_signed_in? %>
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                <% else %>
                <%= link_to('Login', new_user_session_path) %>
                <% end %>
            </li>
            </ul>
        <div class="searchform">
            <%= form_tag("/products", method: "get", class: "navbar-form collapsed navbar-left") do %>
            <%= label_tag(:q, " ") %>
            <%= text_field_tag(:q, nil, :placeholder => "Search", class: "form-control navbar-left search-from-size") %>
            <%= submit_tag("Search", class: "btn btn-default btn-sm", type: "submit") %>
            <% end %>
        </div>
         </div> <!-- nav -->
      </div> <!-- end nav container-->
</nav>  <!-- end navbar-->
