<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" id="header2">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
         </div> <!--end navbar-header -->
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
               <li><%= link_to "Home", static_pages_index_path %></li>
               <li><%= link_to "Landing Page", static_pages_landing_page_path %></li>
               <li><%= link_to "About", static_pages_about_path %></li>
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Contact", static_pages_contact_path %></li>
            </ul>
        <div class="searchform">
            <%= form_tag("/products", method: "get") do %>
            <%= label_tag(:q, "Search for:") %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search") %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            <% end %>
        </div>
         </div> <!-- nav -->
      </div> <!-- end nav container-->
</nav>  <!-- end navbar-->
