<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>
  <body>
   <%= render "shared/navbar" %>
   <p class="notice"><%= notice %></p>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
